@include fontSetting(
  $selector: h1,
  $weight: light,
  $lineHeight: extraLarge,
  $transform: uppercase
);

@include fontSetting(
  $selector: h2,
  $weight: light,
  $lineHeight: large,
  $transform: none
);

@include fontSetting(
  $selector: h3,
  $weight: bold,
  $lineHeight: base,
  $transform: uppercase
);

@include fontSetting(
  $selector: h4,
  $weight: bold,
  $lineHeight: base,
  $transform: uppercase
);

@include fontSetting(
  $selector: p,
  $weight: light,
  $lineHeight: base,
  $transform: none
);
