@include fontSetting(
  $selector: h1,
  $fontFamily: $fontHeading,
  $weight: light,
  $lineHeight: extraLarge
);

@include fontSetting(
  $selector: h2,
  $fontFamily: $fontHeading,
  $weight: light,
  $lineHeight: large
);

@include fontSetting(
  $selector: h3,
  $weight: bold,
  $lineHeight: base
);

@include fontSetting(
  $selector: h4,
  $weight: bold,
  $lineHeight: base,
  $transform: uppercase
);

@include fontSetting(
  $selector: p,
  $weight: light,
  $lineHeight: base
);
