@import 'config';
@import 'variables/layout';

//reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  outline: none;
}

html {
  font-family: $fontFamily;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: $pageBg;
  color: $typography;
  overflow-x: hidden;
  white-space: normal;
}

img,
iframe {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
